<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>6.Batalha - Papel, Pedra e Tesoura</title>
    <link rel="stylesheet" type="text/css" href="/vendor/styles/style.css">
    <script src="/vendor/vue.js"></script>
</head>

<body>
    <!-- Para fazer a seleção do Jogador, vamos promover as seguintes alterações:
        
        1) Acrescentar a diretiva v-if na tag <a>, indicando que ela só poderá ser 
           renderizada quando esta for a imagem selecionada pelo Jogador;
        
        2) Criar a respectiva propriedade no objeto player (game.js);

        3) Associar um método ao evento click, para ser acionado quando o Jogador clicar sob a figura;

        4) Criar o método na instância VueJS
    
    -->
    <div id="board">
        <div class="item" v-for="itemPlayer in players">
            <div>
                <h2>{{itemPlayer.name}}</h2>
            </div>
            <div class="players item">
                <!--1) Diretiva v-if  -->
                <template v-for="itemElement in elements" v-if="itemPlayer.elementSelected==itemElement">
                    <div class="container-images">
                        <!--3) Associando o método onClickExecute passando o  -->
                        <a href="#" @click="onClickExecute(itemPlayer, itemElement)">

                            <img v-bind:src="'..\\vendor\\images\\' + itemElement.name + '.png'" :alt="itemElement.name"
                                :title="itemElement.name" />
                        </a>
                    </div>
                    <div>
                        <span class="optionSelected">{{itemElement.name}}</span>
                    </div>
                </template>
                <div>
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
    <script src="game.js"></script>
</body>

</html>